/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
.Discord{
    padding: 10px;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.active{
    padding-left: 10px ;
    margin-top: 25px;
    margin-left: 450px;
}

.nitro{
    padding-left: 10px ;
    margin-top: 25px;
    margin-left: 20px;
}

.discover{
    margin-top: 25px;
}

.safety, .carrier, .blog{
    padding-left: 10px ;
    margin-top: 25px;
}

.nav-buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-left: 10%;
}
.center-box{
    display: flex;
    padding-left: 10%;
}
.para{
    width: 20%;
    padding-left: 10%;
}